[build]
  command = "yarn build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  NEXT_PRIVATE_STANDALONE = "true"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["sharp", "@payloadcms/db-postgres", "payload", "drizzle-orm", "@node-rs/argon2", "@node-rs/bcrypt"]

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
